footer{
    background-color: darken($navigation-color, 10%);
    .regi{
        div{
            
            img{
                background-color: rgba(255,255,255,.3);
                width:300px;
            }
        }
    }
}
.copyright{
    background-color: darken($navigation-color, 15%);;
}

@media(max-width: 991px){
    footer{
        text-align: center;
        .map{
            padding: 10px;
        }
        .facebook{
            padding:10px;
        }
        .regi{
            padding: 10px;           
        }
    }
}