main{
    .info{
        .icons{
            align-items: baseline;
            img{
                width:100px;
                text-align: center;
                margin:0;
            }
            h5{
                color: $navigation-color;
                font-family: $playfair-display;
                font-weight: 700;
                letter-spacing: 2px;
                align-items: baseline;
            }
            p{
                padding: 10px 15px;
            }
        }
    }
    .rating{
        width:100%;
        .rating-box{
            flex-basis: calc(100% * 0.35);
            height: 300px;
            
            p{
                text-align: center;
                line-height: 300px;
                // font-family: $playfair-display;
                font-weight: 700;
                letter-spacing: 2px;
                color: $nav-font-color;
                font-size: 1.5em;
                text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.7);
                padding: 0 15px;
            }
            &:nth-of-type(1){
                background-color: $navigation-color;
            }
            &:nth-of-type(2){
                
                background-color: darken($navigation-color, 10%);
            }
            &:nth-of-type(3){
                background-color: lighten($navigation-color, 10%);
            }
        }
    }
}