.owner{
    font-family: $raleway;
    color: $navigation-color;
    div{
        .owner-photo{
            width:200px;
            
            img{
                width:100%;
                border-radius: 50%;
            }
        }
        .owner-info{
            padding: 10px 10px;
            margin-left: 30px;
            p{
                margin:0;
            }
            
        }
    }
}

@media(max-width:575px){
    .owner{
        div{
            .owner-photo{
                left:calc(50% - 70px);
                width:150px;
            }
            .owner-info{
                margin: 0;
            }
        }
    }
}
// hr{
// position: relative;
// width: 60%;
// left: 20%;
// border:1px solid #d3d3d3;
// margin:0;
// }

