main{
    div{
        .breadcrumb{
            background-color: $background-color;
        }
    }
    div{
        h2{
            font-size: 2em;
            color: $navigation-color;
            font-family: $playfair-display;
            text-shadow: 4px 4px 9px rgba(150, 150, 150, 0.7);
            letter-spacing: 2px;
        }
        p,ul{
            font-family: $raleway;
            font-size: 1.1em;
            letter-spacing: 1px;
        }
    }
    div{
        div{
            h3{
            font-size: 1.7em;
            color: $navigation-color;
            font-family: $playfair-display;
            text-shadow: 4px 4px 9px rgba(150, 150, 150, 0.7);
            letter-spacing: 2px;
            }
        }
        img{
            margin-left: 50px;
            margin: 15px 0 15px 50px;
        }
    }
}
@media(max-width:768px){
    main{
        div{
            img{
                margin:0;
                margin-top:20px;
            }
        }
    }
}
@media(max-width:414px){
    main{
        div{
            img{
                width:90%;
            }
        }
    }
}